<%- include("header"); -%>
<p>This is just a simple To-Do-List web App by The Binary Beast.
you can add your daily to do list and there is another route that is "work" where you can add your work list that you have to do</p>
<br><br><br>
<p>note:It is not connected to the database.<p>

<%- include("footer"); -%>
